.btn {
  min-width: 80px;
  border-radius: 6px;
  padding: 0 12px;
  font-size: 13px;
  font-weight: 500;
  //color
  &.purple {
    background-color: purple;
    color: #fff;
  }
  &.gray {
    background-color: gray;
    color: #fff;
  }
  &.pink {
    background-color: pink;
    color: #fff;
  }
  &.khaki {
    background-color: khaki;
    color: #fff;
  }
  &.purple_line {
    border: 1px solid purple;
    color: purple;
  }
  //size
  &.h_28 {
    height: 28px;
  }
  &.h_32 {
    height: 32px;
    font-size: 14px;
  }
  &.h_36 {
    height: 36px;
    font-size: 15px;
  }
  &.h_40 {
    height: 40px;
    font-size: 16px;
  }
  &.h_50 {
    height: 50px;
    padding: 0 20px;
    border-radius: 8px;
    font-size: 18px;
  }
}
