input[type="checkbox"] {
  display: none;
  & + label {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #ccc;
    i {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid #ccc;
    }
  }
  &:checked {
    & + label {
      color: #333;
      i {
        border-color: #333;
        background-color: #333;
      }
    }
  }
}
