.contents_card {
  padding: 16px;
  // background-color
  &.gray {
    background-color: #f1f1f1;
  }
  &.pink {
    background-color: pink;
  }
  &.khaki {
    background-color: khaki;
  }
  &.transparent {
    border: 1px solid #000;
  }
  // size
  &.large {
    padding: 24px;
  }
  &.medium {
    padding: 16px;
  }
  &.small {
    padding: 8px;
  }
  // round
  &.round {
    border-radius: 12px;
  }
}
