.tag_wrap {
  .tag {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #f1f1f1;
    color: #333;
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
}
