/*===========================================================================
	COLOR
============================================================================*/
:root {
  /* transparent 계열 */
  --transparent: transparent;

  /* black 계열 */
  --black1: #000;
  --black2: #222;
  --black3: #333;
  --black4: #444;
  --black5: #555;
  --black6: #666;
  --black7: #888;
  --dark-bg: #181b20;

  /* black 계열 (투명도)*/
  --black-opc1: rgba(0, 0, 0, 0.1);
  --black-opc2: rgba(0, 0, 0, 0.2);

  /* gray 계열 */
  --gray1: #808080;
  --gray2: #909090;
  --gray3: #a0a0a0;
  --gray4: #a9a9a9;
  --gray5: #bebebe;
  --gray6: #c8c8c8;
  --gray7: #d3d3d3;
  --dark-text: #bfc2c4;

  /* white 계열 */
  --white1: #ffffff;
  --white2: #f8f8f8;
  --white3: #f5f5f5;
  --white4: #f0f0f0;
  --white5: #e8e8e8;
  --white6: #e0e0e0;
  --white7: #dcdcdc;

  /* white 계열 (투명도)*/
  --white-opc1: rgba(255, 255, 255, 0.1);

  /* red 계열 */
  --red1: #e61919;
  --red2: #dc143c;
  --red3: #ff0000;

  /* blue 계열 */
  --blue1: #0083ff;
  --blue2: #009aff;
  --blue3: #00aaff;

  /* green 계열 */
  --green1: #669966;
  --green2: #66cc66;
  --green3: #99cc99;
  --green4: #33ff33;
}
