/*===========================================================================
	COLOR
============================================================================*/
/* black 계열 */
$black1: #000;
$black2: #222;
$black3: #333;
$black4: #444;
$black5: #555;
$black6: #666;
$black7: #888;

/* gray 계열 */

/* red 계열 */
$red1: #e61919;
$red2: #dc143c;
$red3: #ff0000;

/* blue 계열 */
$blue1: #0083ff;
$blue2: #009aff;
$blue3: #00aaff;

/* green 계열 */
$green1: #669966;
$green2: #66cc66;
$green3: #99cc99;
$green4: #33ff33;
