:root {
  /* ===== 📌 Width ===== */
  // Gnb
  --gnb-width: 4.2857rem;

  //Tooltip
  --tooltip-icon-normal: 0.8571rem;
  --tooltip-icon-large: 1.4286rem;
  --tooltip-icon-big: 1.8571rem;

  //Profile Image
  --prof-img-normal: 3.8571rem;
  --prof-img-large: 4.2857rem;
  --prof-img-big: 8.5714rem;

  // Side Quick Menu

  /* ===== 📌 Height ===== */

  // 레이아웃
  --header-height: 4rem;

  // input, select, search input

  // button (유진)

  // tag (지연)

  // ...

  /* ===== 📌 Margin ===== */

  // 일반
  --mg-reset: 0; // 0
  --mg-very-mini: 0.1429rem; // 2px
  --mg-little-mini: 0.4286rem; // 6px
  --mg-mini: 0.5714rem; // 8px
  --mg-mini-up: 0.5714rem; // 8px
  --mg-mini-down: 0.5714rem; // 8px
  --mg-small: 0.8571rem; // 12px
  --mg-small-up: 0.8571rem; // 12px
  --mg-small-down: 0.8571rem; // 12px
  --mg-normal: 1.1429rem; // 16px
  --mg-normal-up: 1.1429rem; // 16px
  --mg-normal-down: 1.1429rem; // 16px
  --mg-large: 1.7143rem; // 24px
  --mg-large-up: 1.7143rem; // 24px
  --mg-large-down: 1.7143rem; // 24px
  --mg-big: 2.1429rem; // 30px
  --mg-big-up: 2.1429rem; // 30px
  --mg-big-down: 2.1429rem; // 30px
  --mg-very-big: 4.2857rem; // 60px
  --mg-very-big-up: 4.2857rem; // 60px
  --mg-very-big-down: 4.2857rem; // 60px

  // Button
  --btn-mg-reset: 0; // 0
  --btn-mg-very-mini: 0.2857rem; // 4px
  --btn-mg-mini: 0.5714rem; // 8px
  --btn-mg-mini: 0.5714rem; // 8px
  --btn-mg-mini-up: 0.5714rem; // 8px
  --btn-mg-mini-down: 0.5714rem; // 8px
  --btn-mg-small: 0.8571rem; // 12px
  --btn-mg-small-up: 0.8571rem; // 12px
  --btn-mg-small-down: 0.8571rem; // 12px
  --btn-mg-normal: 1.1429rem; // 16px
  --btn-mg-normal-up: 1.1429rem; // 16px
  --btn-mg-normal-down: 1.1429rem; // 16px
  --btn-mg-large: 1.7143rem; // 24px
  --btn-mg-large-up: 1.7143rem; // 24px
  --btn-mg-large-down: 1.7143rem; // 24px
  --btn-mg-big: 2.1429rem; // 30px
  --btn-mg-big-up: 2.1429rem; // 30px
  --btn-mg-big-down: 2.1429rem; // 30px

  // Card
  --card-mg-mini: 0.5714rem; // 8px
  --card-mg-mini-up: 0.5714rem; // 8px
  --card-mg-mini-down: 0.5714rem; // 8px
  --card-mg-small: 0.8571rem; // 12px
  --card-mg-small-up: 0.8571rem; // 12px
  --card-mg-small-down: 0.8571rem; // 12px
  --card-mg-normal: 1.1429rem; // 16px
  --card-mg-normal-up: 1.1429rem; // 16px
  --card-mg-normal-down: 1.1429rem; // 16px
  --card-mg-large: 1.7143rem; // 24px
  --card-mg-large-up: 1.7143rem; // 24px
  --card-mg-large-down: 1.7143rem; // 24px
  --card-mg-big: 2.1429rem; // 30px
  --card-mg-big-up: 2.1429rem; // 30px
  --card-mg-big-down: 2.1429rem; // 30px

  // List
  --list-mg-mini: 0.5714rem; // 8px
  --list-mg-mini-up: 0.5714rem; // 8px
  --list-mg-mini-down: 0.5714rem; // 8px
  --list-mg-small: 0.8571rem; // 12px
  --list-mg-small-up: 0.8571rem; // 12px
  --list-mg-small-down: 0.8571rem; // 12px
  --list-mg-normal: 1.1429rem; // 16px
  --list-mg-normal-up: 1.1429rem; // 16px
  --list-mg-normal-down: 1.1429rem; // 16px
  --list-mg-large: 1.7143rem; // 24px
  --list-mg-large-up: 1.7143rem; // 24px
  --list-mg-large-down: 1.7143rem; // 24px
  --list-mg-big: 2.1429rem; // 30px
  --list-mg-big-up: 2.1429rem; // 30px
  --list-mg-big-down: 2.1429rem; // 30px

  // Board
  --board-mg-reset: 0; // 8px
  --board-mg-very-mini: 0.2857rem; // 4px
  --board-mg-mini: 0.5714rem; // 8px
  --board-mg-mini-up: 0.5714rem; // 8px
  --board-mg-mini-down: 0.5714rem; // 8px
  --board-mg-small: 0.8571rem; // 12px
  --board-mg-small-up: 0.8571rem; // 12px
  --board-mg-small-down: 0.8571rem; // 12px
  --board-mg-normal: 1.1429rem; // 16px
  --board-mg-normal-up: 1.1429rem; // 16px
  --board-mg-normal-down: 1.1429rem; // 16px
  --board-mg-large: 1.7143rem; // 24px
  --board-mg-large-up: 1.7143rem; // 24px
  --board-mg-large-down: 1.7143rem; // 24px
  --board-mg-big: 2.1429rem; // 30px
  --board-mg-big-up: 2.1429rem; // 30px
  --board-mg-big-down: 2.1429rem; // 30px

  // Popup
  --pop-mg-reset: 0; // 0
  --pop-mg-very-mini: 0.1429rem; // 2px
  --pop-mg-little-mini: 0.4286rem; // 6px
  --pop-mg-mini: 0.5714rem; // 8px
  --pop-mg-mini-up: 0.5714rem; // 8px
  --pop-mg-mini-down: 0.5714rem; // 8px
  --pop-mg-small: 0.8571rem; // 12px
  --pop-mg-small-up: 0.8571rem; // 12px
  --pop-mg-small-down: 0.8571rem; // 12px
  --pop-mg-normal: 1.1429rem; // 16px
  --pop-mg-normal-up: 1.1429rem; // 16px
  --pop-mg-normal-down: 1.1429rem; // 16px
  --pop-mg-large: 1.7143rem; // 24px
  --pop-mg-large-up: 1.7143rem; // 24px
  --pop-mg-large-down: 1.7143rem; // 24px
  --pop-mg-big: 2.1429rem; // 30px
  --pop-mg-big-up: 2.1429rem; // 30px
  --pop-mg-big-down: 2.1429rem; // 30px
  --pop-mg-very-big: 4.2857rem; // 60px
  --pop-mg-very-big-up: 4.2857rem; // 60px
  --pop-mg-very-big-down: 4.2857rem; // 60px

  // 기타
  --mg-search-tool: 1.5714rem; //22px

  /* ===== 📌 Padding ===== */

  // 일반
  --pd-reset: 0; // 0
  --pd-very-mini: 0.1429rem; // 2px
  --pd-very-mini-up: 0.1429rem; // 2px
  --pd-very-mini-down: 0.1429rem; // 2px
  --pd-little-mini: 0.5714rem; // 8px
  --pd-little-mini-up: 0.5714rem; // 8px
  --pd-little-mini-down: 0.5714rem; // 8px
  --pd-mini: 0.8571rem; // 12px
  --pd-mini-up: 0.8571rem; // 12px
  --pd-mini-down: 0.8571rem; // 12px
  --pd-very-small: 1.1429rem; // 16px
  --pd-very-small-up: 1.1429rem; // 16px
  --pd-very-small-down: 1.1429rem; // 16px
  --pd-small: 1.4286rem; // 20px
  --pd-small-up: 1.4286rem; // 20px
  --pd-small-down: 1.4286rem; // 20px
  --pd-normal: 1.7143rem; // 24px
  --pd-normal-up: 1.7143rem; // 24px
  --pd-normal-down: 1.7143rem; // 24px
  --pd-large: 2.2857rem; // 32px
  --pd-large-up: 2.2857rem; // 32px
  --pd-large-down: 2.2857rem; // 32px
  --pd-very-large: 3rem; // 42px
  --pd-very-large-up: 3rem; // 42px
  --pd-very-large-down: 3rem; // 42px

  //Button
  --btn-pd-reset: 0; // 0px
  --btn-pd-very-mini: 0.5714rem; // 8px
  --btn-pd-very-mini-up: 0.5714rem; // 8px
  --btn-pd-very-mini-down: 0.5714rem; // 8px
  --btn-pd-mini: 0.8571rem; // 12px
  --btn-pd-mini-up: 0.8571rem; // 12px
  --btn-pd-mini-down: 0.8571rem; // 12px
  --btn-pd-small: 1.4286rem; // 20px
  --btn-pd-small-up: 1.4286rem; // 20px
  --btn-pd-small-down: 1.4286rem; // 20px
  --btn-pd-normal: 1.7143rem; // 24px
  --btn-pd-normal-up: 1.7143rem; // 24px
  --btn-pd-normal-down: 1.7143rem; // 24px
  --btn-pd-large: 2.2857rem; // 32px
  --btn-pd-large-up: 2.2857rem; // 32px
  --btn-pd-large-down: 2.2857rem; // 32px

  //Tag
  --tag-pd-reset: 0; // 0px
  --tag-pd-small: 0.2857rem; // 4px
  --tag-pd-small-up: 0.2857rem; // 4px
  --tag-pd-small-down: 0.2857rem; // 4px
  --tag-pd-normal: 0.5714rem; // 8px
  --tag-pd-normal-up: 0.5714rem; // 8px
  --tag-pd-normal-down: 0.5714rem; // 8px
  --tag-pd-large: 0.8571rem; // 12px
  --tag-pd-large-up: 0.8571rem; // 12px
  --tag-pd-large-down: 0.8571rem; // 12px

  //Card
  --card-pd-reset: 0; // 0
  --card-pd-mini: 0.8571rem; // 12px
  --card-pd-mini-up: 0.8571rem; // 12px
  --card-pd-mini-down: 0.8571rem; // 12px
  --card-pd-small: 1.4286rem; // 20px
  --card-pd-small-up: 1.4286rem; // 20px
  --card-pd-small-down: 1.4286rem; // 20px
  --card-pd-normal: 1.7143rem; // 24px
  --card-pd-normal-up: 1.7143rem; // 24px
  --card-pd-normal-down: 1.7143rem; // 24px
  --card-pd-large: 2.2857rem; // 32px
  --card-pd-large-up: 2.2857rem; // 32px
  --card-pd-large-down: 2.2857rem; // 32px

  //List
  --list-pd-mini: 0.8571rem; // 12px
  --list-pd-mini-up: 0.8571rem; // 12px
  --list-pd-mini-down: 0.8571rem; // 12px
  --list-pd-small: 1.4286rem; // 20px
  --list-pd-small-up: 1.4286rem; // 20px
  --list-pd-small-down: 1.4286rem; // 20px
  --list-pd-normal: 1.7143rem; // 24px
  --list-pd-normal-up: 1.7143rem; // 24px
  --list-pd-normal-down: 1.7143rem; // 24px
  --list-pd-large: 2.2857rem; // 32px
  --list-pd-large-up: 2.2857rem; // 32px
  --list-pd-large-down: 2.2857rem; // 32px

  //Board
  --board-pd-mini: 0.8571rem; // 12px
  --board-pd-mini-up: 0.8571rem; // 12px
  --board-pd-mini-down: 0.8571rem; // 12px
  --board-pd-small: 1.4286rem; // 20px
  --board-pd-small-up: 1.4286rem; // 20px
  --board-pd-small-down: 1.4286rem; // 20px
  --board-pd-normal: 1.7143rem; // 24px
  --board-pd-normal-up: 1.7143rem; // 24px
  --board-pd-normal-down: 1.7143rem; // 24px
  --board-pd-large: 2.2857rem; // 32px
  --board-pd-large-up: 2.2857rem; // 32px
  --board-pd-large-down: 2.2857rem; // 32px

  // 이미지 비율 별 padding top (4:3, 16:9...)
  --board-img-area-4: 75%;
  --board-img-area-16: 56.25%;
  --board-text-area-small: 1.1429rem; // 16px
  --board-text-area-basic: 1.4286rem; // 20px
  --board-text-area-large: 1.7143rem; // 24px

  //Popup
  --pop-pd-reset: 0; // 0
  --pop-pd-very-mini: 0.5714rem; // 8px
  --pop-pd-very-mini-up: 0.5714rem; // 8px
  --pop-pd-very-mini-down: 0.5714rem; // 8px
  --pop-pd-mini: 0.8571rem; // 12px
  --pop-pd-mini-up: 0.8571rem; // 12px
  --pop-pd-mini-down: 0.8571rem; // 12px
  --pop-pd-small: 1.4286rem; // 20px
  --pop-pd-small-up: 1.4286rem; // 20px
  --pop-pd-small-down: 1.4286rem; // 20px
  --pop-pd-normal: 1.7143rem; // 24px
  --pop-pd-normal-up: 1.7143rem; // 24px
  --pop-pd-normal-down: 1.7143rem; // 24px
  --pop-pd-large: 2.2857rem; // 32px
  --pop-pd-large-up: 2.2857rem; // 32px
  --pop-pd-large-down: 2.2857rem; // 32px

  /* ===== 📌 Line Height ===== */

  // 일반
  --line-normal: 1;
  --line-medium: 1.4;
  --line-large: 1.6;

  // Tag
  --line-tag-normal: 1.1429rem;
  --line-tag-large: 1.4286rem;

  /* ===== 📌 Border Radius ===== */
  --radius-mini: 0.2857rem;
  --radius-small: 0.4286rem;
  --radius-normal: 0.5714rem;
  --radius-only_9999: 714.2143rem;
  --radius-circle: 50%;
}

@media screen and(min-width: 1920px) {
  :root {
    /* ===== 📌 Margin ===== */

    // 일반
    --mg-mini-up: 0.7143rem; // 8px ➡️ 10px
    --mg-mini-down: 0.4286rem; // 8px ➡️ 6px
    --mg-small-up: 1rem; // 12px ➡️ 14px
    --mg-small-down: 0.7143rem; // 12px ➡️ 10px
    --mg-normal-up: 1.2857rem; // 16px ➡️ 18px
    --mg-normal-down: 1rem; // 16px ➡️ 14px
    --mg-large-up: 2rem; // 24px ➡️ 28px
    --mg-large-down: 1.4286rem; // 24px ➡️ 20px
    --mg-big-up: 2.4286rem; // 30px ➡️ 34px
    --mg-big-down: 1.8571rem; // 30px ➡️ 26px

    // card
    --card-mg-mini-up: 0.7143rem; // 8px ➡️ 10px
    --card-mg-mini-down: 0.4286rem; // 8px ➡️ 6px
    --card-mg-small-up: 1rem; // 12px ➡️ 14px
    --card-mg-small-down: 0.7143rem; // 12px ➡️ 10px
    --card-mg-normal-up: 1.2857rem; // 16px ➡️ 18px
    --card-mg-normal-down: 1rem; // 16px ➡️ 14px
    --card-mg-large-up: 2rem; // 24px ➡️ 28px
    --card-mg-large-down: 1.4286rem; // 24px ➡️ 20px
    --card-mg-big-up: 2.4286rem; // 30px ➡️ 34px
    --card-mg-big-down: 1.8571rem; // 30px ➡️ 26px

    // List
    --list-mg-mini-up: 0.7143rem; // 8px ➡️ 10px
    --list-mg-mini-down: 0.4286rem; // 8px ➡️ 6px
    --list-mg-small-up: 1rem; // 12px ➡️ 14px
    --list-mg-small-down: 0.7143rem; // 12px ➡️ 10px
    --list-mg-normal-up: 1.2857rem; // 16px ➡️ 18px
    --list-mg-normal-down: 1rem; // 16px ➡️ 14px
    --list-mg-large-up: 2rem; // 24px ➡️ 28px
    --list-mg-large-down: 1.4286rem; // 24px ➡️ 20px
    --list-mg-big-up: 2.4286rem; // 30px ➡️ 34px
    --list-mg-big-down: 1.8571rem; // 30px ➡️ 26px

    // Board
    --board-mg-mini-up: 0.7143rem; // 8px ➡️ 10px
    --board-mg-mini-down: 0.4286rem; // 8px ➡️ 6px
    --board-mg-small-up: 1rem; // 12px ➡️ 14px
    --board-mg-small-down: 0.7143rem; // 12px ➡️ 10px
    --board-mg-normal-up: 1.2857rem; // 16px ➡️ 18px
    --board-mg-normal-down: 1rem; // 16px ➡️ 14px
    --board-mg-large-up: 2rem; // 24px ➡️ 28px
    --board-mg-large-down: 1.4286rem; // 24px ➡️ 20px
    --board-mg-big-up: 2.4286rem; // 30px ➡️ 34px
    --board-mg-big-down: 1.8571rem; // 30px ➡️ 26px

    /* ===== 📌 Padding ===== */

    // 일반
    --pd-mini-up: 1.1429rem; // 12px ➡️ 16px
    --pd-mini-down: 0.5714rem; // 12px ➡️8px
    --pd-small-up: 1.7143rem; // 20px ➡️ 24px
    --pd-small-down: 1.1429rem; // 20px ➡️16px
    --pd-normal-up: 2rem; // 24px ➡️ 28px
    --pd-normal-down: 1.4286rem; // 24px ➡️ 20px
    --pd-large-up: 2.2857rem; // 32px ➡️ 40px
    --pd-large-down: 2rem; // 32px ➡️ 28px

    // Card
    --card-pd-mini-up: 1.1429rem; // 12px ➡️ 16px
    --card-pd-mini-down: 0.5714rem; // 12px ➡️8px
    --card-pd-small-up: 1.7143rem; // 20px ➡️ 24px
    --card-pd-small-down: 1.1429rem; // 20px ➡️16px
    --card-pd-normal-up: 2rem; // 24px ➡️ 28px
    --card-pd-normal-down: 1.4286rem; // 24px ➡️ 20px
    --card-pd-large-up: 2.2857rem; // 32px ➡️ 40px
    --card-pd-large-down: 2rem; // 32px ➡️ 28px

    // List
    --list-pd-mini-up: 1.1429rem; // 12px ➡️ 16px
    --list-pd-mini-down: 0.5714rem; // 12px ➡️8px
    --list-pd-small-up: 1.7143rem; // 20px ➡️ 24px
    --list-pd-small-down: 1.1429rem; // 20px ➡️16px
    --list-pd-normal-up: 2rem; // 24px ➡️ 28px
    --list-pd-normal-down: 1.4286rem; // 24px ➡️ 20px
    --list-pd-large-up: 2.2857rem; // 32px ➡️ 40px
    --list-pd-large-down: 2rem; // 32px ➡️ 28px

    // Board
    --board-pd-mini-up: 1.1429rem; // 12px ➡️ 16px
    --board-pd-mini-down: 0.5714rem; // 12px ➡️8px
    --board-pd-small-up: 1.7143rem; // 20px ➡️ 24px
    --board-pd-small-down: 1.1429rem; // 20px ➡️16px
    --board-pd-normal-up: 2rem; // 24px ➡️ 28px
    --board-pd-normal-down: 1.4286rem; // 24px ➡️ 20px
    --board-pd-large-up: 2.2857rem; // 32px ➡️ 40px
    --board-pd-large-down: 2rem; // 32px ➡️ 28px
  }
}

// .card {
//   width: calc(
//     100% + #{var(--horizontal_pd_left)} + #{var(--horizontal_pd_right)}
//   );
//   margin-left: -#{var(--horizontal_pd_left)};
// }
