/* ===== 📌 컬러 ===== */

/* black 계열 (Dark Mode Change X) */
.bk_t1 {
  color: var(--text-bk1) !important;
}
.bk_t2 {
  color: var(--text-bk2) !important;
}
.bk_t3 {
  color: var(--text-bk3) !important;
}
.bk_t4 {
  color: var(--text-bk4) !important;
}
.bk_t5 {
  color: var(--text-bk5) !important;
}
.bk_t6 {
  color: var(--text-bk6) !important;
}
.bk_t7 {
  color: var(--text-bk7) !important;
}
.bk_t8 {
  color: var(--text-bk8) !important;
}
.bk_t9 {
  color: var(--text-bk9) !important;
}
/* black 계열 (Dark Mode Gray Change) */
.bk_gr_t1 {
  color: var(--text-bk-to-gr1) !important;
}
.bk_gr_t2 {
  color: var(--text-bk-to-gr2) !important;
}
.bk_gr_t3 {
  color: var(--text-bk-to-gr3) !important;
}
.bk_gr_t4 {
  color: var(--text-bk-to-gr4) !important;
}
.bk_gr_t5 {
  color: var(--text-bk-to-gr5) !important;
}
.bk_gr_t6 {
  color: var(--text-bk-to-gr6) !important;
}
.bk_gr_t7 {
  color: var(--text-bk-to-gr7) !important;
}
.bk_gr_t8 {
  color: var(--text-bk-to-gr8) !important;
}
.bk_gr_t9 {
  color: var(--text-bk-to-gr9) !important;
}
/* black 계열 (Dark Mode White Change) */
.bk_wh_t1 {
  color: var(--text-bk-to-wh1) !important;
}
.bk_wh_t2 {
  color: var(--text-bk-to-wh2) !important;
}
.bk_wh_t3 {
  color: var(--text-bk-to-wh3) !important;
}
.bk_wh_t4 {
  color: var(--text-bk-to-wh4) !important;
}
.bk_wh_t5 {
  color: var(--text-bk-to-wh5) !important;
}
.bk_wh_t6 {
  color: var(--text-bk-to-wh6) !important;
}
.bk_wh_t7 {
  color: var(--text-bk-to-wh7) !important;
}
.bk_wh_t8 {
  color: var(--text-bk-to-wh8) !important;
}
.bk_wh_t9 {
  color: var(--text-bk-to-wh9) !important;
}

/* gray 계열 (Dark Mode Change X) */
.gr_t1 {
  color: var(--text-gr1) !important;
}
.gr_t2 {
  color: var(--text-gr2) !important;
}
.gr_t3 {
  color: var(--text-gr3) !important;
}
.gr_t4 {
  color: var(--text-gr4) !important;
}
.gr_t5 {
  color: var(--text-gr5) !important;
}
.gr_t6 {
  color: var(--text-gr6) !important;
}
.gr_t7 {
  color: var(--text-gr7) !important;
}
.gr_t8 {
  color: var(--text-gr8) !important;
}
.gr_t9 {
  color: var(--text-gr9) !important;
}
/* gray 계열 (Dark Mode Black Change) */
.gr_bk_t1 {
  color: var(--text-gr-to-bk1) !important;
}
.gr_bk_t2 {
  color: var(--text-gr-to-bk2) !important;
}
.gr_bk_t3 {
  color: var(--text-gr-to-bk3) !important;
}
.gr_bk_t4 {
  color: var(--text-gr-to-bk4) !important;
}
.gr_bk_t5 {
  color: var(--text-gr-to-bk5) !important;
}
.gr_bk_t6 {
  color: var(--text-gr-to-bk6) !important;
}
.gr_bk_t7 {
  color: var(--text-gr-to-bk7) !important;
}
.gr_bk_t8 {
  color: var(--text-gr-to-bk8) !important;
}
.gr_bk_t9 {
  color: var(--text-gr-to-bk9) !important;
}

/* gray 계열 (Dark Mode White Change) */
.gr_wh_t1 {
  color: var(--text-gr-to-wh1) !important;
}
.gr_wh_t2 {
  color: var(--text-gr-to-wh2) !important;
}
.gr_wh_t3 {
  color: var(--text-gr-to-wh3) !important;
}
.gr_wh_t4 {
  color: var(--text-gr-to-wh4) !important;
}
.gr_wh_t5 {
  color: var(--text-gr-to-wh5) !important;
}
.gr_wh_t6 {
  color: var(--text-gr-to-wh6) !important;
}
.gr_wh_t7 {
  color: var(--text-gr-to-wh7) !important;
}
.gr_wh_t8 {
  color: var(--text-gr-to-wh8) !important;
}
.gr_wh_t9 {
  color: var(--text-gr-to-wh9) !important;
}

/* white 계열 (Dark Mode Change X) */
.wh_t1 {
  color: var(--text-wh1) !important;
}
.wh_t2 {
  color: var(--text-wh2) !important;
}
.wh_t3 {
  color: var(--text-wh3) !important;
}
.wh_t4 {
  color: var(--text-wh4) !important;
}
.wh_t5 {
  color: var(--text-wh5) !important;
}
.wh_t6 {
  color: var(--text-wh6) !important;
}
.wh_t7 {
  color: var(--text-wh7) !important;
}
.wh_t8 {
  color: var(--text-wh8) !important;
}
.wh_t9 {
  color: var(--text-wh9) !important;
}

/* white 계열 (Dark Mode Black Change) */
.wh_bk_t1 {
  color: var(--text-wh-to-bk1) !important;
}
.wh_bk_t2 {
  color: var(--text-wh-to-bk2) !important;
}
.wh_bk_t3 {
  color: var(--text-wh-to-bk3) !important;
}
.wh_bk_t4 {
  color: var(--text-wh-to-bk4) !important;
}
.wh_bk_t5 {
  color: var(--text-wh-to-bk5) !important;
}
.wh_bk_t6 {
  color: var(--text-wh-to-bk6) !important;
}
.wh_bk_t7 {
  color: var(--text-wh-to-bk7) !important;
}
.wh_bk_t8 {
  color: var(--text-wh-to-bk8) !important;
}
.wh_bk_t9 {
  color: var(--text-wh-to-bk9) !important;
}

/* white 계열 (Dark Mode Gray Change) */
.wh_gr_t1 {
  color: var(--text-wh-to-gr1) !important;
}
.wh_gr_t2 {
  color: var(--text-wh-to-gr2) !important;
}
.wh_gr_t3 {
  color: var(--text-wh-to-gr3) !important;
}
.wh_gr_t4 {
  color: var(--text-wh-to-gr4) !important;
}
.wh_gr_t5 {
  color: var(--text-wh-to-gr5) !important;
}
.wh_gr_t6 {
  color: var(--text-wh-to-gr6) !important;
}
.wh_gr_t7 {
  color: var(--text-wh-to-gr7) !important;
}
.wh_gr_t8 {
  color: var(--text-wh-to-gr8) !important;
}
.wh_gr_t9 {
  color: var(--text-wh-to-gr9) !important;
}

/* red 계열 */
.red_t {
  color: var(--text-red1) !important;
}
/* blue 계열 */
.blue_t {
  color: var(--text-blue1) !important;
}
/* green 계열 */
.green_t {
  color: var(--text-green1) !important;
}
