/* ==================================================================
  공통이 자리 👻
================================================================== */

/* ===== 📌 정렬 ===== */

/* flex */
.flex {
  display: flex;
}
.align_start {
  align-items: start;
}
.align_end {
  align-items: end;
}
.align_center {
  align-items: center;
}
.justify_start {
  justify-content: start;
}
.justify_end {
  justify-content: end;
}
.justify_between {
  justify-content: space-between;
}
/* Text Overflow */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis2 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.ellipsis3 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}
.ellipsis_td {
  position: relative;
  .ellipsis {
    width: calc(100% - 1.1429rem);
    position: absolute;
    top: 50%;
    left: 0.5714rem;
    transform: translateY(-50%);
    font: inherit;
    color: inherit;
  }
}
/* Text Align */
.center_t {
  text-align: center !important;
}
.left_t {
  text-align: left !important;
}
.right_t {
  text-align: right !important;
}

/* ===== 📌 컬러 ===== */

/* black 계열 */
.black1 {
  color: var(--black1) !important;
}
.black2 {
  color: var(--black2) !important;
}
.black3 {
  color: var(--black3) !important;
}
/* gray 계열 */
.gray1 {
  color: var(--gray1) !important;
}
.gray2 {
  color: var(--gray2) !important;
}
.gray3 {
  color: var(--gray3) !important;
}
/* white 계열 */
.white1 {
  color: var(--white1) !important;
}
.white2 {
  color: var(--white2) !important;
}
.white3 {
  color: var(--white3) !important;
}
/* red 계열 */
.red1 {
  color: var(--red1) !important;
}
.red2 {
  color: var(--red2) !important;
}
.red3 {
  color: var(--red3) !important;
}
/* blue 계열 */
.blue1 {
  color: var(--blue1) !important;
}
.blue2 {
  color: var(--blue2) !important;
}
.blue3 {
  color: var(--blue3) !important;
}
/* green 계열 */
.green1 {
  color: var(--green1) !important;
}
.green2 {
  color: var(--green2) !important;
}
.green3 {
  color: var(--green3) !important;
}

/* ===== 📌 버튼 ===== */
.btn {
  padding: 0 1.1429rem;
  border-radius: 0.4286rem;
  font-size: 1.0714rem;
  border: 1px solid var(--transparent);
  & + .btn {
    margin-left: 0.5714rem;
  }
  /* 컬러 */
  &.black {
    background-color: var(--black1);
    color: var(--white1);
  }
  &.blue {
    background-color: var(--blue1);
    color: var(--white1);
  }
  &.green {
    background-color: var(--green1);
    color: var(--white1);
  }
  /* 컬러 */
  &.black_line {
    border-color: var(--black1);
    color: var(--black1);
  }
  &.blue_line {
    border-color: var(--blue1);
    color: var(--blue1);
  }
  &.green_line {
    border-color: var(--green1);
    color: var(--green1);
  }
  /* 사이즈 */
  &.h_28 {
    height: 2rem;
    padding: 0 0.5714rem;
    font-size: 0.9286rem;
  }
  &.h_32 {
    height: 2.2857rem;
    padding: 0 0.8571rem;
    font-size: 0.9286rem;
  }
  &.h_38 {
    height: 2.7143rem;
    font-size: 0.9286rem;
  }
  &.h_44 {
    height: 3.1429rem;
    font-size: 0.9286rem;
  }
}

/* ===== 📌 요소 ===== */
.page_btn {
  margin-top: 4.2857rem;
}
.form_wrap {
  display: flex;
  align-items: center;
  & > * {
    flex-shrink: 0;
    &:not(:first-child) {
      margin-left: 0.8571rem;
    }
  }
}
/* switch */
.switch {
  label {
    display: block;
    position: relative;
    width: 4.2857rem;
    height: 2.2857rem;
    background: var(--white3);
    border-radius: 714.2143rem;
    transition: 0.21s;
    cursor: pointer;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 2.4286rem;
      transform: translateY(-50%);
      width: 1.5714rem;
      height: 1.5714rem;
      background: var(--white1);
      border-radius: 50%;
      transition: 0.21s;
    }
  }
  input {
    &:checked {
      & + label {
        background: var(--gray1);
        &:after {
          right: 0.2857rem;
        }
      }
    }
  }
}
/* checkbox */
.checkbox {
  input {
    display: none;
  }
  label {
    i {
      display: inline-block;
      vertical-align: middle;
      width: 1.1429rem;
      height: 1.1429rem;
      border-radius: 0.2143rem;
      border: 1px solid var(--white3);
      flex-shrink: 0;
      margin-right: 0.4286rem;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9286rem;
      color: var(--gray1);
    }
  }
  input {
    &:checked {
      & + label {
        i {
          border-color: var(--black1);
          background: url("../../public/img/icon/icon_chk.svg") no-repeat center /
            0.7143rem;
        }
        span {
          color: var(--black1);
        }
        // &:after {
        //   right: 0.2857rem;
        // }
      }
    }
  }
}
/* radio */
.radio {
  input {
    display: none;
  }
  label {
    i {
      display: inline-block;
      vertical-align: middle;
      width: 1.1429rem;
      height: 1.1429rem;
      border-radius: 50%;
      border: 1px solid var(--white3);
      flex-shrink: 0;
      margin-right: 0.4286rem;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9286rem;
      color: var(--gray1);
    }
  }
  input {
    &:checked {
      & + label {
        i {
          position: relative;
          border-color: var(--black1);
          &:after {
            content: "";
            display: block;
            width: 70%;
            height: 70%;
            border-radius: 50%;
            background-color: var(--black1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        span {
          color: var(--black1);
        }
      }
    }
  }
}

/* ===== 📌 팝업 ===== */
.pop_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  .pop_dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-opc3);
  }
  .pop_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white1);
    border-radius: 0.5714rem;
    min-width: 400px;
    .pop_top {
      margin-bottom: 1.7143rem;
      padding: 1.1429rem 1.7143rem;
      border-bottom: 1px solid var(--white2);
      .pop_x {
        width: 1.4286rem;
        height: 1.4286rem;
        position: absolute;
        top: -0.5714rem;
        right: 0.2857rem;
        transform: translateY(-100%);
        background: url("../../public/img/icon/icon_close_white.svg") no-repeat
          center / contain;
      }
    }
    .pop_cont {
      padding: 0 1.7143rem;
      border: 1px solid red;
    }
    .pop_btns {
      margin-top: 2.8571rem;
      padding: 0 1.7143rem 1.4286rem;
      text-align: center;
    }
  }
}

/* ===== 📌 레이아웃 ===== */

header {
  padding: 1.1429rem 1.4286rem;
  border-bottom: 1px solid var(--black3);
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: var(--black1);
  .left {
    display: flex;
    align-items: center;
    .logo {
      color: var(--white1);
    }
  }
  .right {
    .css-b62m3t-container {
      min-width: 175px;
    }
    & > * {
      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }
  .menu_btn {
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-right: 1.1429rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    .inner {
      width: 1.1429rem;
      height: 1rem;
      position: relative;
      span {
        display: block;
        position: absolute;
        height: 0.1429rem;
        width: 100%;
        background-color: var(--white1);
        border-radius: 0.6429rem;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0rem;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          top: auto;
          bottom: 0;
        }
      }
    }
    &.active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          left: -4.2857rem;
        }
        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }
  .switch {
    label {
      width: 2.8571rem;
      height: 1.4286rem;
      &:after {
        width: 0.8571rem;
        height: 0.8571rem;
        right: 1.7143rem;
      }
    }
  }
}
.gnb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 20rem;
  height: 100%;
  padding: 3.5714rem 1.1429rem;
  transform: translateX(-100%);
  background-color: var(--black2);
  color: var(--white1);
  transition: all 0.4s;
  &.active {
    transform: translateX(0);
  }
  .nav_close {
    position: absolute;
    top: 1.1429rem;
    right: 1.1429rem;
    width: 1.1429rem;
    img {
      width: 100%;
    }
  }
}
.area:not(:first-child) {
  margin-top: 2.8571rem;
}

/* ==================================================================
  유진이 자리 👻
================================================================== */
.search_area {
  padding: 0.8571rem 1.7143rem;
  border-bottom: 1px solid var(--white3);
  & > ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.1429rem;
    & > li {
      margin-top: 1.1429rem;
      &:not(:last-of-type) {
        margin-right: 1.1429rem;
      }
      .label {
        font-size: 0.92857rem;
        // font-size: 0.8125rem;
        margin-bottom: 0.4286rem;
      }
      input,
      select,
      .css-b62m3t-container,
      .css-3iigni-container {
        width: 11.4286rem;
      }
      .form_wrap {
        height: 2.1429rem;
      }
    }
  }
}
.search_input {
  position: relative;
  .parent {
    position: relative;
    button {
      width: 1.1429rem;
      height: 1.1429rem;
      position: absolute;
      top: 50%;
      right: 0.5714rem;
      transform: translateY(-50%);
      background: url("../../public/img/icon/icon_search.svg") no-repeat center;
    }
  }
  ul {
    position: absolute;
    z-index: 30;
    width: 100%;
    margin-top: 0.5714rem;
    border: 1px solid var(--white3);
    background-color: var(--white1);
    border-radius: 0.5714rem;
    li {
      a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5714rem 0.8571rem;
      }
      &:not(:first-of-type) {
        border-top: 1px solid var(--white3);
      }
    }
  }
}
.contents_wrap {
  padding: 1.4286rem 1.7143rem;
}

/* ==================================================================
  우리 지연님 자리 👻
================================================================== */
/* Table (Default - list) */
.table_wrap {
  width: 100%;
  .table_top {
    margin-bottom: 0.5714rem;
    .num {
      font-size: 0.9286rem;
    }
    .btn {
      & + .btn {
        margin-left: 0.2857rem;
      }
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    // min-width: max-content;
    /* 리스트 테이블 */
    &.list {
      tbody {
        tr {
          cursor: pointer;
          &:nth-child(even) {
            td {
              background-color: var(--white2);
            }
          }
          &:hover {
            td {
              background-color: var(--white3);
            }
          }
        }
      }
      th,
      td {
        padding: 0.2857rem 0.5714rem;
        font-size: 0.92857rem;
        line-height: 1.42857rem;
        text-align: center;
        span {
          font: inherit;
        }
      }
      th {
        position: sticky;
        top: 0;
        background-color: var(--black3);
        color: var(--white1);
        border-top: 1px solid var(--white3);
        border-bottom: 1px solid var(--white3);
        &:not(:first-child) {
          border-left: 1px solid var(--white3);
        }
      }
      td {
        background-color: var(--white1);
        color: var(--black2);
        border-bottom: 1px solid var(--white3);
        &:not(:first-child) {
          border-left: 1px solid var(--white3);
        }
      }
    }
    /* 상세 테이블 */
    &.detail {
      // table-layout: fixed;
      min-width: unset;
      tbody {
        tr {
          cursor: default;
          &:nth-child(even) {
            td {
              background-color: var(--white1);
            }
          }
          &:hover {
            td {
              background-color: var(--white1);
            }
          }
        }
      }
      th,
      td {
        text-align: left;
      }
      th {
        padding: 0.7143rem;
        line-height: 1rem;
        background-color: var(--white3);
        color: var(--black3);
        border-top: 1px solid var(--white3);
        border-left: 1px solid var(--white3);
        border-bottom: 1px solid var(--white3);
      }
      td {
        padding: 0.2857rem 0.7143rem;
        background-color: var(--white1);
        border-top: 1px solid var(--white3);
        border-left: none;
        border-right: 1px solid var(--white3);
      }
    }
  }
}

/* Table Button */
.ham_btn {
  width: 1.5714rem;
  height: 1.5714rem;
  background: url("../../public/img/icon/icon_table_hamburger.svg") no-repeat
    center;
}

@media screen and (min-width: 1921px) {
  html,
  body {
    font-size: 18px;
  }
  html {
    &.font_size_small {
      font-size: 16px !important;
      body {
        font-size: 16px !important;
      }
    }
    &.font_size_large {
      font-size: 20px !important;
      body {
        font-size: 20px !important;
      }
    }
  }
}
