/* ==================================================================
  공통이 자리 👻
================================================================== */

/* ===== 📌 Flex ===== */
.flex {
  display: flex;
}
.align_start {
  align-items: start;
}
.align_end {
  align-items: end;
}
.align_center {
  align-items: center;
}
.justify_start {
  justify-content: start;
}
.justify_end {
  justify-content: end;
}
.justify_between {
  justify-content: space-between;
}

/* ===== 📌 Ellipsis ===== */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis2 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}
.ellipsis3 {
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
.ellipsis_td {
  position: relative;
  .ellipsis {
    width: calc(100% - 1.1429rem);
    position: absolute;
    top: 50%;
    left: 0.5714rem;
    transform: translateY(-50%);
    font: inherit;
    color: inherit;
    text-align: left;
  }
}

/* ===== 📌 TEXT Align ===== */
.center_t {
  text-align: center !important;
}
.left_t {
  text-align: left !important;
}
.right_t {
  text-align: right !important;
}

/* ===== 📌 Button ===== */
.btn {
  padding: 0 1.1429rem;
  border-radius: 0.4286rem;
  font-size: 1.0714rem;
  border: 1px solid var(--transparent);
  & + .btn {
    margin-left: 0.5714rem;
  }
  /* 사이즈 */
  &.h_28 {
    height: 2rem;
    padding: 0 0.5714rem;
    font-size: 0.9286rem;
  }
  &.h_32 {
    height: 2.2857rem;
    padding: 0 0.8571rem;
    font-size: 0.9286rem;
  }
  &.h_38 {
    height: 2.7143rem;
    font-size: 0.9286rem;
  }
  &.h_44 {
    height: 3.1429rem;
    font-size: 0.9286rem;
  }
}

/* ===== 📌 요소 ===== */
.page_btn {
  margin-top: 4.2857rem;
}
.form_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -0.5714rem;
  & > * {
    flex-shrink: 0;
    margin-top: 0.5714rem;
    &:not(:last-child) {
      margin-right: 0.8571rem;
    }
  }
}
/* switch */
.switch {
  label {
    display: block;
    position: relative;
    width: 4.2857rem;
    height: 2.2857rem;
    background: var(--bg-wh-to-gr9);
    border-radius: 714.2143rem;
    transition: 0.21s;
    cursor: pointer;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 2.4286rem;
      transform: translateY(-50%);
      width: 1.5714rem;
      height: 1.5714rem;
      background: var(--bg-wh1);
      border-radius: 50%;
      transition: 0.21s;
    }
  }
  input {
    &:checked {
      & + label {
        background: var(--bg-bk-opc5);
        &:after {
          right: 0.2857rem;
        }
      }
    }
  }
}
/* checkbox */
.checkbox {
  input {
    display: none;
  }
  label {
    i {
      display: inline-block;
      vertical-align: middle;
      width: 1.1429rem;
      height: 1.1429rem;
      border-radius: 0.2143rem;
      border: 1px solid var(--bd-gr-to-wh9);
      flex-shrink: 0;
      margin-right: 0.4286rem;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9286rem;
      color: var(--text-gr-to-wh9);
    }
  }
  input {
    &:checked {
      & + label {
        i {
          border-color: var(--bd-bk-to-wh1);
          background: url("../../public/img/icon/icon_chk.svg") no-repeat center /
            0.7143rem;
        }
        span {
          color: var(--text-bk-to-wh1);
        }
        // &:after {
        //   right: 0.2857rem;
        // }
      }
    }
  }
}
/* radio */
.radio {
  input {
    display: none;
  }
  label {
    i {
      display: inline-block;
      vertical-align: middle;
      width: 1.1429rem;
      height: 1.1429rem;
      border-radius: 50%;
      border: 1px solid var(--bd-gr-to-wh9);
      flex-shrink: 0;
      margin-right: 0.4286rem;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9286rem;
      color: var(--text-gr-to-wh9);
    }
  }
  input {
    &:checked {
      & + label {
        i {
          position: relative;
          border-color: var(--bd-bk-to-wh1);
          &:after {
            content: "";
            display: block;
            width: 70%;
            height: 70%;
            border-radius: 50%;
            background-color: var(--bg-bk-to-wh1);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        span {
          color: var(--text-bk-to-wh1);
        }
      }
    }
  }
}

/* ===== 📌 공통 Dim ===== */
.common_dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-opc1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  &.transparent {
    background-color: var(--transparent);
  }
  &.on {
    opacity: 1;
    visibility: visible;
  }
}

/* ===== 📌 페이지 팝업 ===== */
.pop_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: none;
  &.on {
    display: block;
  }
  .pop_dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pop-bg-bk-opc3);
  }
  .pop_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--pop-bg-wh-to-gr1);
    border-radius: 0.5714rem;
    min-width: 400px;
    transition: all 0.6s;
    .pop_top {
      margin-bottom: 1.7143rem;
      padding: 1.1429rem 1.4286rem;
      border-bottom: 1px solid var(--bd-wh-to-gr9);
      .pop_title {
        font-size: 1.0714rem;
        font-weight: 500;
        color: var(--text-bk-to-wh1);
      }
      .pop_x {
        width: 2.2857rem;
        height: 2.2857rem;
        position: absolute;
        top: -0.2857rem;
        right: 0;
        transform: translateY(-100%);
        background: url("../../public/img/icon/icon_close_white.svg") no-repeat
          center / cover;
      }
    }
    .pop_inner {
      padding: 0 1.4286rem;
      .popup_scroll_area {
        overflow-y: auto;
        .search_area {
          padding: 0;
          margin-bottom: 2.2857rem;
          border-bottom: none;
          & > ul {
            & > li {
              input,
              select,
              .css-b62m3t-container,
              .css-3iigni-container {
                width: 120px;
              }
            }
          }
        }
      }
    }
    .pop_btns {
      margin-top: 2.8571rem;
      padding: 0 1.7143rem 1.4286rem;
      text-align: center;
      button {
        min-width: 100px;
        font-size: 1rem;
      }
    }
  }
  /* 사이드 팝업 */
  &.side {
    .pop_contents {
      max-width: 600px;
      height: 100%;
      border-radius: 0.5714rem 0 0 0.5714rem;
      top: 0;
      left: auto;
      right: 0;
      transform: none;
      .pop_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pop_x {
          width: 1.7143rem;
          height: 1.7143rem;
          position: static;
          transform: none;
          background-image: url("../../public/img/icon/icon_close_gray.svg");
        }
      }
      .pop_btns {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
    }
  }
  /* 하단 팝업 */
  &.bottom {
    .pop_contents {
      max-width: 100%;
      border-radius: 0.5714rem 0.5714rem 0 0;
      top: auto;
      left: 0;
      bottom: 0;
      transform: none;
      .pop_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pop_x {
          width: 1.7143rem;
          height: 1.7143rem;
          position: static;
          transform: none;
          background-image: url("../../public/img/icon/icon_close_gray.svg");
        }
      }
    }
  }
}
/* ===== 📌 요소 안 팝업 ===== */
.inner_popup_wrap {
  position: relative;
  &.on {
    .inner_popup {
      opacity: 1;
      visibility: visible;
      margin-top: 0.5714rem;
    }
  }
  .inner_popup {
    min-width: 11.4286rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1.4286rem;
    background-color: var(--pop-bg-wh-to-gr1);
    box-shadow: 0 0.2857rem 0.4286rem 0 var(--shadow-bk-opc1);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    &.medium {
      min-width: 18.5714rem;
    }
    &.large {
      min-width: 22.8571rem;
    }
    &.right {
      right: -0.5714rem;
      left: auto;
      transform: none;
    }
    li {
      padding: 0.5714rem 1.1429rem;
      &:not(:first-of-type) {
        border-top: 1px solid var(--bd-wh-to-gr9);
      }
      span {
        flex-shrink: 0;
        color: var(--text-bk-to-wh1);
      }
      .css-b62m3t-container {
        min-width: auto;
        flex: 1;
        margin-left: 12px;
      }
    }
  }
}

/* ===== 📌 레이아웃 ===== */

body {
  background-color: var(--body-bg);
}
header {
  height: var(--header-height);
  padding: 1.1429rem 1.4286rem;
  border-bottom: 1px solid var(--black3);
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: var(--header-bg);
  .left {
    display: flex;
    align-items: center;
    .logo {
      color: var(--text-wh1);
    }
  }
  & > .right {
    .css-b62m3t-container {
      min-width: 175px;
    }
    & > * {
      &:not(:first-child) {
        margin-left: 12px;
      }
    }
  }
  .menu_btn {
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin-right: 1.1429rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    .inner {
      width: 1.4286rem;
      height: 1rem;
      position: relative;
      span {
        display: block;
        position: absolute;
        height: 0.1429rem;
        width: 100%;
        background-color: var(--bg-wh1);
        border-radius: 0.6429rem;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0rem;
        }
        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &:nth-child(3) {
          top: auto;
          bottom: 0;
        }
      }
    }
    &.active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
          left: -4.2857rem;
        }
        &:nth-child(3) {
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
        }
      }
    }
  }
  .switch {
    label {
      width: 2.8571rem;
      height: 1.4286rem;
      &:after {
        width: 0.8571rem;
        height: 0.8571rem;
        right: 1.7143rem;
      }
    }
  }
}
.gnb {
  position: fixed;
  top: var(--header-height);
  left: 0;
  z-index: 45;
  width: var(--gnb-width);
  height: calc(100% - #{var(--header-height)});
  // transform: translateX(-100%);
  background-color: var(--gnb-bg);
  transition: all 0.4s;
  &.active {
    width: 20rem;
    transform: translateX(0);
    .main {
      & > li {
        & > a {
          padding: 1rem 2.8571rem 1rem 3.5714rem;
          color: var(--text-wh1);
          &:after {
            opacity: 1;
          }
        }
      }
    }
    .sub {
      display: block;
      li {
        a {
          color: var(--text-wh1);
        }
      }
    }
    .menu_fix {
      justify-content: space-between;
      padding: 1rem 1.4286rem;
      p {
        display: block;
        color: var(--text-wh1);
      }
      .switch {
        input {
          &:checked {
            & + label {
              &:after {
                right: 0.1429rem;
              }
            }
          }
        }
        label {
          width: 2.5714rem;
          &:after {
            right: 1.2857rem;
          }
        }
      }
    }
  }
  .main {
    height: calc(100% - 3.5714rem);
    padding: 0.8571rem 0;
    overflow-y: auto;
    & > li {
      & > a {
        position: relative;
        width: 100%;
        padding: 1rem 1.4286rem;
        font-size: 1rem;
        line-height: 1.5714rem;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        color: var(--transparent);
        transition: all 0.4s;
        &:after {
          content: "";
          display: inline-block;
          width: 1.7143rem;
          height: 1.7143rem;
          background: url("../../public/img/icon/icon_gnb_arrow_gray.svg")
            no-repeat center;
          position: absolute;
          right: 1.1429rem;
          top: 50%;
          transform: translateY(-50%);
          opacity: 0;
          transition: opacity 0.4s;
        }
        img {
          width: 1.1429rem;
          height: 1.1429rem;
          position: absolute;
          left: 1.5714rem;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      &.on {
        & > a {
          &:after {
            background-image: url("../../public/img/icon/icon_gnb_arrow_white.svg");
            transform: translateY(-50%) scaleY(-1);
          }
        }
      }
    }
  }
  .sub {
    display: none;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    li {
      a {
        position: relative;
        width: 100%;
        padding: 0.8571rem 1.1429rem 0.8571rem 2.2857rem;
        font-size: 0.9286rem;
        line-height: 1.4286rem;
        white-space: nowrap;
        color: var(--transparent);
        background-color: var(--black-opc1);
        transition: all 0.4s;
        &:before {
          content: "";
          display: inline-block;
          width: 0.2857rem;
          height: 0.2857rem;
          border-radius: 50%;
          position: absolute;
          left: 1.4286rem;
          top: 50%;
          transform: translateY(-50%);
          background-color: var(--white-opc3);
        }
      }
      &:hover {
        a {
          background-color: var(--black-opc2);
        }
      }
    }
  }
  /* 미사용으로 인한 주석 */
  /* 
  .nav_close {
    position: absolute;
    top: 1.1429rem;
    right: 1.1429rem;
    width: 1.1429rem;
    img {
      width: 100%;
    }
  }
  */
}
.gnb_dim {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 45;
  width: 100%;
  height: 100%;
}
.container {
  transition: all 0.4s;
  padding-left: var(--gnb-width);
  // padding-left: calc(#{var(--gnb-width)} + #{var(--pd_normal)});
  /* 작업확인용(머지전 주석/삭제 필요) :: 시작 */
  // &.search_on {
  //   .search_area {
  //     background-color: rgba(250, 250, 210, 0.5);
  //   }
  // }
  // &.search_not {
  //   background-color: rgba(173, 216, 230, 0.5);
  // }
  /* 작업확인용(머지전 주석/삭제 필요) :: 끝 */
}
.area:not(:first-child) {
  margin-top: 2.8571rem;
}

/* ==================================================================
  유진이 자리 👻
================================================================== */
.search_area {
  display: flex;
  padding: var(--pd-mini) var(--pd-normal);
  border-bottom: 1px solid var(--bd-gr5);
  background-color: var(--transparent);

  & > ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1.1429rem;
    &:not(:last-child) {
      margin-right: 20px;
    }
    & > li {
      margin-top: 1.1429rem;
      &:not(:last-of-type) {
        margin-right: 1.1429rem;
      }
      .label {
        font-size: 0.92857rem;
        margin-bottom: 0.4286rem;
        color: var(--text-bk-to-wh1);
      }
      input,
      select,
      .css-b62m3t-container,
      .css-3iigni-container {
        width: 11.4286rem;
      }
      .form_wrap {
        min-height: 2.1429rem;
      }
    }
  }
}
.search_input {
  position: relative;
  .parent {
    position: relative;
    input {
      padding-right: 2rem;
    }
    button {
      width: 1.1429rem;
      height: 1.1429rem;
      position: absolute;
      top: 50%;
      right: 0.5714rem;
      transform: translateY(-50%);
      // background: url("../../public/img/icon/icon_search.svg") no-repeat center / contain;
      path {
        fill: var(--text-bk-to-wh3);
      }
    }
  }
  ul {
    position: absolute;
    z-index: 30;
    width: 100%;
    margin-top: 0.5714rem;
    border-radius: 0.5714rem;
    border: 1px solid var(--bg-gr-to-wh7);
    background-color: var(--bg-wh-to-gr1);
    box-shadow: 0 0.2857rem 0.4286rem 0 var(--shadow-bk-opc1);
    padding: 0.1429rem 0;
    li {
      a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0.5714rem 0.8571rem;
        color: var(--text-bk-to-wh1);
      }
      &:not(:first-of-type) {
        border-top: 1px solid var(--bg-gr-to-wh7);
      }
    }
  }
}
/* [241114 AJY] 검색영역 관련 추가 */
.search_tool {
  flex-shrink: 0;
  button {
    border-radius: 0.2857rem;
    margin-top: 1.542884rem;
    &:not(:last-child) {
      margin-right: 0.4286rem;
    }
  }
  .toggle {
    width: 2.2857rem;
    height: 2.2857rem;
    background: url("../../public/img/icon/icon_search_toggle.svg") no-repeat
      center;
    border: 1px solid var(--bd-gr-to-wh9);
    &.open {
      transform: scaleY(-1);
    }
    // &.hide {
    //   /* 작업확인용(머지전 주석/삭제 필요) :: 시작 */
    //   // display: none;
    //   background-color: lightgreen;
    //   /* 작업확인용(머지전 주석/삭제 필요) :: 끝 */
    // }
  }
  .btn {
    padding: 0 0.5714rem;
    & + .btn {
      margin-left: 0;
    }
  }
}
.contents_wrap {
  padding: var(--pd-small) var(--pd-normal);
}
/* 카드 */
.board_wrap {
  display: flex;
  flex-wrap: wrap;
  & + .board_wrap {
    margin-top: var(--mg-big-up);
  }
  &.langth_2 {
    // margin-top: calc(-1 * var(--board-mg-small-down));
    .card {
      width: calc(50% - 0.4286rem);
      margin-top: var(--board-mg-small-down);
      &:not(:nth-of-type(odd)) {
        margin-left: var(--board-mg-small-down);
      }
    }
  }
  &.langth_3 {
    // margin-top: calc(-1 * var(--board-mg-small-down));
    .card {
      width: calc(33.33% - 0.5714rem);
      margin-top: var(--board-mg-small-down);
      margin-left: var(--board-mg-small-down);
      &:nth-of-type(3n + 1) {
        margin-left: 0;
      }
    }
  }
  &.langth_4 {
    // margin-top: calc(-1 * var(--board-mg-normal-down));
    .card {
      width: calc(25% - 0.8571rem);
      margin-top: var(--board-mg-normal-down);
      margin-left: var(--board-mg-normal-down);
      &:nth-of-type(4n + 1) {
        margin-left: 0;
      }
    }
  }
  &.langth_5 {
    .card {
      width: calc(20%);
    }
  }
}
.card {
  box-shadow: 0 0.2857rem 0.4286rem 0 var(--shadow-bk-opc1);
  border-radius: 0.5714rem;
  background-color: var(--card-bg-wh-to-gr1);
  color: var(--text-bk-to-wh1);
  & + .card {
    margin-top: var(--card-mg-large-down);
  }

  .img_area {
    background: no-repeat center / cover;
    &.type_16_9 {
      padding-top: var(--img-area-16);
    }
    &.type_4_3 {
      padding-top: var(--img-area-4);
    }
  }
}
/* ==================================================================
  우리 지연님 자리 👻
================================================================== */
/* 메뉴 고정 */
.menu_fix {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid var(--black-opc2);
  transition: all 0.4s;
  p {
    display: none;
    line-height: 1.5714rem;
    font-weight: 500;
    white-space: nowrap;
    color: var(--transparent);
    transition: all 0.4s;
  }
  .switch {
    input {
      &:checked {
        & + label {
          &:after {
            right: 0.1429rem;
          }
        }
      }
    }
    label {
      width: 2.2857rem;
      height: 1.5714rem;
      &:after {
        width: 1.1429rem;
        height: 1.1429rem;
        right: 1rem;
      }
    }
  }
}
/* Table (Default - list) */
.table_wrap {
  width: 100%;
  .table_top {
    margin-bottom: 0.5714rem;
    .num {
      font-size: 0.9286rem;
      color: var(--text-bk-to-wh1);
    }
    .btn {
      & + .btn {
        margin-left: 0.2857rem;
      }
    }
  }
  table {
    width: 100%;
    table-layout: fixed;
    // min-width: max-content;
    /* 리스트 테이블 */
    &.list {
      tbody {
        tr {
          cursor: pointer;
          &:nth-child(even) {
            td {
              background-color: var(--table-list-td-bg);
            }
          }
        }
      }
      th,
      td {
        padding: 0.2857rem 0.5714rem;
        font-size: 0.92857rem;
        line-height: 1.42857rem;
        text-align: center;
        span {
          font: inherit;
        }
      }
      th {
        position: sticky;
        top: -1px;
        z-index: 1;
        background-color: var(--table-list-th-bg);
        color: var(--table-text-wh1);
        border-top: 1px solid var(--table-bd-wh5);
        border-bottom: 1px solid var(--table-bd-wh5);
        &:not(:first-child) {
          border-left: 1px solid var(--table-bd-wh5);
        }
      }
      td {
        background-color: var(--transparent);
        color: var(--table-text-bk-to-wh3);
        border-bottom: 1px solid var(--table-bd-wh5);
        &:not(:first-child) {
          border-left: 1px solid var(--table-bd-wh5);
        }
      }
    }
    /* 상세 테이블 */
    &.detail {
      // table-layout: fixed;
      min-width: unset;
      tbody {
        tr {
          &:not(:first-child) {
            th,
            td {
              border-top: none;
            }
          }
        }
      }
      th,
      td {
        text-align: left;
      }
      th {
        padding: 0.7143rem;
        line-height: 1rem;
        background-color: var(--table-detail-th-bg);
        color: var(--table-text-bk-to-wh1);
        border-top: 1px solid var(--table-bd-wh5);
        border-left: 1px solid var(--table-bd-wh5);
        border-bottom: 1px solid var(--table-bd-wh5);
      }
      td {
        background-color: var(--transparent);
        padding: 0.4286rem 0.7143rem;
        color: var(--table-text-bk-to-wh1);
        border-top: 1px solid var(--table-bd-wh5);
        border-right: 1px solid var(--table-bd-wh5);
        border-bottom: 1px solid var(--table-bd-wh5);
        &.no_form {
          padding: 0.7143rem;
        }
      }
    }
  }
}
/* Table Colgroup */
.col_th {
  width: 10rem;
}
/* Table Button */
.ham_btn {
  width: 1.5714rem;
  height: 1.5714rem;
  background: url("../../public/img/icon/icon_table_hamburger.svg") no-repeat
    center;
}

/* 첨부파일 목록 */
.attachment {
  input[type="file"] {
    & + label {
      display: inline-block;
      height: 2rem;
      line-height: 1.8571rem;
      padding: 0 0.6429rem;
      font-size: 0.8571rem;
      font-weight: 500;
      border-radius: 0.2857rem;
      background-color: var(--bg-wh-to-gr5);
      color: var(--text-bk-to-wh1);
    }
  }
  ul {
    width: calc(100% + 0.2857rem);
    li {
      position: relative;
      display: inline-block;
      font-size: 0.9286rem;
      line-height: 1.4286rem;
      padding: 0.2857rem 2rem 0.2857rem 0.7143rem;
      border-radius: 0.2857rem;
      border: 1px solid var(--bd-gr-to-wh9);
      color: var(--text-bk-to-wh1);
      margin-top: 0.4286rem;
      &:not(:last-child) {
        margin-right: 0.2857rem;
      }
      span {
        font: inherit;
        color: inherit;
      }
      .remove {
        width: 1rem;
        height: 1rem;
        background: url("../../public/img/icon/icon_x_round.svg") no-repeat
          center;
        position: absolute;
        top: 50%;
        right: 0.5714rem;
        transform: translateY(-50%);
      }
    }
  }
  .count {
    font-size: 0.9286rem;
    line-height: 2rem;
    font-weight: 500;
    margin-left: 0.5714rem;
    color: var(--text-bk-to-wh1);
  }
}

/* 페이지네이션 */
.pagination {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2.8571rem;
  li {
    display: inline-block;
    vertical-align: top;
    &:not(:last-child) {
      margin-right: 0.4286rem;
    }
    a {
      border-color: var(--bd-gr-to-wh1);
      path {
        fill: var(--text-gr-to-wh1);
      }
    }
    &.disabled {
      a {
        opacity: 0.6;
      }
    }
    &.single {
      a {
        background: none !important;
      }
      // a {
      //   background: url("../../public/img/icon/icon_pagination_single.svg")
      //     no-repeat calc(50% - 0.0714rem) center;
      // }
      &.prev {
        margin-right: 1.1429rem;
      }
      &.next {
        margin-left: 0.7143rem;
      }
    }
    &.double {
      a {
        background: none !important;
      }
      // a {
      //   background: url("../../public/img/icon/icon_pagination_double.svg")
      //     no-repeat center;
      // }
    }
    &.next {
      a {
        transform: scaleX(-1);
      }
    }
    &.disabled {
      a {
        cursor: default;
      }
      &.single {
        a {
          background-image: url("../../public/img/icon/icon_pagination_single_disabled.svg");
        }
      }
      &.double {
        a {
          background-image: url("../../public/img/icon/icon_pagination_double_disabled.svg");
        }
      }
    }
    &.on {
      a {
        font-weight: 500;
        border-color: var(--bd-bk-to-wh1);
        color: var(--text-bk-to-wh1);
      }
    }
    a {
      min-width: 2rem;
      height: 2rem;
      line-height: calc(2rem - 2px);
      text-align: center;
      border-radius: 0.5714rem;
      border: 1px solid var(--bd-gr-to-wh9);
      color: var(--text-bk-to-wh3);
    }
  }
}

// 🐤 삐약이 테스트
.color_palette_template {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4286rem;
  & + .color_palette_template {
    margin-top: 200px;
  }
  h2 {
    font-size: 1.4rem;
    color: var(--text-bk-to-wh1);
    margin-bottom: 1.7143rem;
  }
  p {
    font-size: 1.1rem;
  }
  &.background {
    gap: 2.8571rem;
    ul {
      display: flex;
      li {
        width: 4.2857rem;
        height: 4.2857rem;
      }
    }
    &.card {
      gap: 1.4286rem;
      ul {
        gap: 0.8571rem;
        li {
          width: 7.1429rem;
          height: 2.8571rem;
          border-radius: 0.5714rem;
        }
        &:not(:first-of-type) {
          li {
            margin-top: 0.8571rem;
          }
        }
      }
    }
  }
  &.button {
    li {
      &:not(:first-of-type) {
        margin-top: 0.8571rem;
      }
    }
  }
}
.size_palette_template {
  & + .size_palette_template {
    margin-top: 200px;
  }
}

/* 탭(Tab) */
.tab {
  margin-bottom: 16px;
  li {
    display: inline-block;
    a {
      padding: 0 0.8571rem;
      line-height: 2rem;
      font-size: 0.8571rem;
      font-weight: 500;
      color: #444;
      background-color: #fff;
      border: 1px solid #444;
    }
    &:not(:first-child) {
      a {
        border-left: none;
      }
    }
    &:first-child {
      a {
        border-radius: 0.2857rem 0 0 0.2857rem;
      }
    }
    &:last-child {
      a {
        border-radius: 0 0.2857rem 0.2857rem 0;
      }
    }
    &.on {
      a {
        color: #fff;
        background-color: #444;
      }
    }
  }
}
.tab_contents {
  padding: 1.4286rem;
  border-radius: 0.2857rem;
  border: 1px solid #444;
}

@media screen and (min-width: 1921px) {
  html,
  body {
    font-size: 18px;
  }
  html {
    &.font_size_small {
      font-size: 16px !important;
      body {
        font-size: 16px !important;
      }
    }
    &.font_size_large {
      font-size: 20px !important;
      body {
        font-size: 20px !important;
      }
    }
  }
}
