body {
  transition: all 0.4s;
  &.dark {
    background-color: var(--dark-bg);

    /* ==============================
        📌 Button
    ============================== */
    .btn {
      &.black {
        background-color: var(--black-opc3);
      }
      &.black_line {
        border-color: var(--white-opc2);
        color: var(--white-opc2);
      }
    }
    /* ==============================
        📌 Input Text
    ============================== */
    input[type="text"],
    input[type="password"] {
      background-color: var(--transparent);
      color: var(--white1);
      &:disabled {
        background-color: var(--white-opc1);
      }
    }
    /* ==============================
        📌 Textarea
    ============================== */
    textarea {
      background-color: var(--transparent);
      color: var(--white1);
      &:disabled {
        background-color: var(--white-opc1);
      }
    }
    /* ==============================
        📌 Checkbox, Radio 
    ============================== */
    .checkbox,
    .radio {
      input {
        & + label {
          i {
            border-color: var(--white-opc2);
          }
          span {
            color: var(--white-opc2);
          }
        }
        &:checked {
          & + label {
            i {
              border-color: var(--white1);
              &::after {
                background-color: var(--white1);
              }
            }
            span {
              color: var(--white1);
            }
          }
        }
      }
    }
    .checkbox {
      input {
        &:checked {
          & + label {
            i {
              background-image: url("../../public/img/icon/icon_chk_white.svg");
            }
          }
        }
      }
    }

    /* ==============================
        📌 React Select
    ============================== */
    .css-13cymwt-control,
    .css-t3ipsp-control {
      background-color: var(--transparent);
      .css-1dimb5e-singleValue,
      .css-19bb58m {
        color: var(--white1);
      }
    }
    .css-16xfy0z-control {
      background-color: var(--white-opc1);
      .css-olqui2-singleValue {
        color: var(--white-opc3);
      }
    }
    .css-1xc3v61-indicatorContainer,
    .css-15lsz6c-indicatorContainer {
      background: center/0.7143rem no-repeat
        url("../../public/img/icon/icon_dark_select_arrow.svg");
    }
    .css-1nmdiq5-menu {
      * {
        color: var(--black2);
      }
    }

    /* ==============================
        📌 Search Input
    ============================== */
    .search_input {
      .parent {
        button {
          background-image: url("../../public/img/icon/icon_dark_search.svg");
        }
      }
      ul {
        li {
          a {
            color: var(--black1);
          }
        }
      }
    }

    /* ==============================
        📌 Search Area
    ============================== */
    .search_area {
      & > ul {
        & > li {
          .label {
            color: var(--white1);
          }
        }
      }
    }

    /* ==============================
        📌 Table 
    ============================== */
    .table_wrap {
      .table_top {
        .num {
          color: var(--white1);
        }
      }
      table {
        /* 리스트 테이블 */
        &.list {
          tr {
            .black1 {
              color: var(--white1) !important;
            }
            th,
            td {
              border-left-color: var(--white-opc1);
              border-top-color: var(--white-opc1);
              border-bottom-color: var(--white-opc1);
              color: var(--white1);
            }
            td {
              background-color: var(--transparent);
            }
            &:nth-child(even) {
              td {
                background-color: var(--white-opc1);
              }
            }
            &:hover {
              td {
                background-color: var(--black-opc2);
              }
            }
          }
        }
        /* 상세 테이블 */
        &.detail {
          th {
            color: var(--white-opc3);
            background-color: var(--white-opc1);
            border-color: var(--white-opc1);
          }
          td {
            color: var(--white-opc3);
            background-color: var(--transparent);
            border-color: var(--white-opc1);
          }
        }
        /* 테이블 내부 form 요소 */
        input[type="text"],
        input[type="password"],
        input[type="number"],
        textarea,
        select {
          border-color: var(--white-opc1);
        }
        .css-16xfy0z-control {
          border-color: var(--white-opc1) !important;
        }
      }
    }
    /* ==============================
        📌 Layout 
    ============================== */
    header {
    }
  }
}
