body {
  transition: all 0.4s;
  // &.dark {
  //   background-color: var(--dark-bg);

  //   /* ==============================
  //       📌 Button
  //   ============================== */
  //   .btn {
  //     &.black {
  //       background-color: var(--black-opc3);
  //     }
  //     &.black_line {
  //       border-color: var(--white-opc3);
  //       color: var(--white-opc3);
  //     }
  //     &.gray_bg_line {
  //       background-color: var(--transparent);
  //       border-color: var(--white-opc2);
  //       color: var(--white-opc2);
  //     }
  //   }
  //   /* ==============================
  //       📌 Input Text
  //   ============================== */
  //   input[type="text"],
  //   input[type="password"] {
  //     background-color: var(--transparent);
  //     color: var(--white1);
  //     &:disabled {
  //       background-color: var(--white-opc1);
  //     }
  //   }
  //   /* ==============================
  //       📌 Textarea
  //   ============================== */
  //   textarea {
  //     background-color: var(--transparent);
  //     color: var(--white1);
  //     &:disabled {
  //       background-color: var(--white-opc1);
  //     }
  //   }
  //   /* ==============================
  //       📌 Checkbox, Radio
  //   ============================== */
  //   .checkbox,
  //   .radio {
  //     input {
  //       & + label {
  //         i {
  //           border-color: var(--white-opc2);
  //         }
  //         span {
  //           color: var(--white-opc2);
  //         }
  //       }
  //       &:checked {
  //         & + label {
  //           i {
  //             border-color: var(--white1);
  //             &::after {
  //               background-color: var(--white1);
  //             }
  //           }
  //           span {
  //             color: var(--white1);
  //           }
  //         }
  //       }
  //     }
  //   }
  //   .checkbox {
  //     input {
  //       &:checked {
  //         & + label {
  //           i {
  //             background-image: url("../../public/img/icon/icon_chk_white.svg");
  //           }
  //         }
  //       }
  //     }
  //   }

  //   /* ==============================
  //       📌 React Select
  //   ============================== */
  //   .css-13cymwt-control,
  //   .css-t3ipsp-control {
  //     background-color: var(--transparent);
  //     .css-1dimb5e-singleValue,
  //     .css-19bb58m {
  //       color: var(--white1);
  //     }
  //   }
  //   .css-16xfy0z-control {
  //     background-color: var(--white-opc1);
  //     .css-olqui2-singleValue {
  //       color: var(--white-opc3);
  //     }
  //   }
  //   .css-1xc3v61-indicatorContainer,
  //   .css-15lsz6c-indicatorContainer {
  //     background: center/0.7143rem no-repeat
  //       url("../../public/img/icon/icon_dark_select_arrow.svg");
  //   }
  //   .css-1nmdiq5-menu {
  //     border-color: var(--white-opc2);
  //     background-color: var(--black2);
  //     * {
  //       color: var(--white1);
  //     }
  //   }
  //   /* CSS 파일 */
  //   .custom__option--is-focused {
  //     background-color: rgba(0, 0, 0, 0.3); /* 원하는 hover 배경색 */
  //     color: var(--white1); /* 원하는 텍스트 색상 */
  //   }

  //   .custom__option {
  //     background-color: white; /* 기본 옵션 배경색 */
  //     color: gray; /* 기본 텍스트 색상 */
  //   }

  //   /* ==============================
  //       📌 Search Input
  //   ============================== */
  //   .search_input {
  //     .parent {
  //       button {
  //         background-image: url("../../public/img/icon/icon_dark_search.svg");
  //       }
  //     }
  //     ul {
  //       border-color: var(--white-opc2);
  //       background-color: var(--black2);
  //       li {
  //         a {
  //           color: var(--white1);
  //         }
  //       }
  //     }
  //   }

  //   /* ==============================
  //       📌 Search Area
  //   ============================== */
  //   .search_area {
  //     & > ul {
  //       & > li {
  //         .label {
  //           color: var(--white1);
  //         }
  //       }
  //     }
  //   }

  //   /* ==============================
  //       📌 Table
  //   ============================== */
  //   .table_wrap {
  //     .table_top {
  //       .num {
  //         color: var(--white1);
  //       }
  //     }
  //     table {
  //       /* 리스트 테이블 */
  //       &.list {
  //         tr {
  //           .black1 {
  //             color: var(--white1) !important;
  //           }
  //           th,
  //           td {
  //             border-left-color: var(--black3);
  //             border-top-color: var(--black3);
  //             border-bottom-color: var(--black3);
  //             color: var(--white1);
  //           }
  //           th {
  //             background-color: var(--black3);
  //           }
  //           td {
  //             background-color: var(--transparent);
  //           }
  //           &:nth-child(even) {
  //             td {
  //               background-color: var(--black-opc2);
  //             }
  //           }
  //           &:hover {
  //             td {
  //               background-color: var(--black-opc2);
  //             }
  //           }
  //         }
  //       }
  //       /* 상세 테이블 */
  //       &.detail {
  //         th {
  //           color: var(--white-opc3);
  //           background-color: var(--white-opc1);
  //           border-color: var(--white-opc1);
  //         }
  //         td {
  //           color: var(--white-opc3);
  //           background-color: var(--transparent);
  //           border-color: var(--white-opc1);
  //         }
  //       }
  //       /* 테이블 내부 form 요소 */
  //       input[type="text"],
  //       input[type="password"],
  //       input[type="number"],
  //       textarea,
  //       select {
  //         border-color: var(--white-opc1);
  //       }
  //       .css-16xfy0z-control {
  //         border-color: var(--white-opc1) !important;
  //       }
  //     }
  //   }

  //   /* ==============================
  //       📌 Popup
  //   ============================== */
  //   /* 메인 팝업 */
  //   .pop_wrap {
  //     .pop_contents {
  //       background-color: var(--black2);
  //       .pop_title {
  //         color: var(--white1);
  //       }
  //     }
  //   }
  //   /* 📌 요소 안 팝업 */
  //   .inner_popup_wrap {
  //     .inner_popup {
  //       background-color: var(--black2);
  //       li {
  //         span {
  //           color: var(--white1);
  //         }
  //       }
  //     }
  //   }

  //   /* ==============================
  //       📌 Layout
  //   ============================== */
  //   header {
  //   }

  //   /* ==============================
  //       📌 Element
  //   ============================== */
  //   /* 검색영역 > 버튼영역 */
  //   .search_tool {
  //     .toggle {
  //       background-image: url("../../public/img/icon/icon_search_toggle_white.svg");
  //     }
  //   }
  //   /* 첨부파일 목록 */
  //   .attachment {
  //     input[type="file"] {
  //       & + label {
  //         background-color: var(--white3);
  //         color: var(--black2);
  //       }
  //     }
  //     ul {
  //       li {
  //         border-color: var(--white-opc1);
  //         color: var(--white-opc3);
  //       }
  //     }
  //     .count {
  //       color: var(--white-opc3);
  //     }
  //   }
  //   /* Table Button */
  //   .ham_btn {
  //     background-image: url("../../public/img/icon/icon_table_hamburger_white.svg");
  //   }
  // }
}

[data-theme="dark"] {
  .tooltip_wrap {
    .tooltip_btn {
      background-image: url("../../public/img/icon/icon_tooltip_btn_white.svg");
    }
  }
  .select_area {
    background-image: url("../../public/img/icon/icon_select_arrow_white.svg");
  }
}
